.myNav {
  background: black;
  font-size: 12px; }

.header-img {
  background-image: url("/images/background.jpg");
  background-size: cover;
  padding-bottom: 30%; }

.prompt {
  width: 750px; }
  @media only screen and (max-width: 500px) {
    .prompt {
      width: auto; } }

.DayPickerInput {
  width: 860px; }
  @media only screen and (max-width: 500px) {
    .DayPickerInput {
      width: 330px; } }
