.myNav{
    background: black;
    font-size: 12px;
}
.header-img{
    background-image: url('/images/background.jpg');
    background-size:cover;
    padding-bottom: 30%;
}

.prompt{
    width:750px;
    
    @media only screen and (max-width: 500px) {
        width: auto;
     }
}

.DayPickerInput{

        width:860px;
        @media only screen and (max-width: 500px) {
            width: 330px;
         }
}

.stat-bar{
    border: 5px solid #F77B7B;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: 30px;
    background: linear-gradient(to bottom right, red, yellow);
}